/* Warna background untuk section utama */
.cream-box {
    background-image: url("https://i.pinimg.com/736x/ec/3f/9a/ec3f9a0e2cfefec361987ce41a3fa132.jpg") ; /* Warna krem */
    padding: 50px 20px;
    max-width: 100;
    border-radius: 50px; /* Membuat sudut melengkung */
    background-position: center;
    box-shadow: 0px 30px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan lembut */
}

.verifikasi-box {
    background-color: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 12px;
}

input.form-control {
    font-size: 1rem;
    padding: 10px;
}

.btn-custom-size {
    padding: 15px 34px;
    font-size: 2rem;
    font-weight: 500;
}

.image-container {
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: #f8f8f8;
    overflow: hidden;
}
.image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.catalogue-img {
     /* sesuaikan tinggi sesuai kebutuhan */
    object-fit: cover; /* membuat gambar tetap proporsional */
    width: 100%;
    height: 250px;
}
.card{
    padding: 50px 20px;
    max-width: 50;
    border-radius: 80px; /* Membuat sudut melengkung */
    background-position: center;
    box-shadow: 7px 30px 8px rgba(238, 161, 73, 0.363);
}
/* Gaya teks utama */
.headline {
    font-weight: bold;
    font-size: 6rem; /* Ukuran teks besar */
    color: #333; /* Warna teks abu tua */
    line-height: 1.3; /* Memberi sedikit ruang antara baris */
    
}

/* Highlight untuk kata penting */
.highlight {
    background-color: #FFD54F; /* Warna kuning stabilo */
    padding: 5px 10px;
    border-radius: 5px;
}

/* Gaya untuk tombol "Scan Now!" */
.btn-dark {
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 20rem;
    font-weight: bold;
    background-color: #333; /* Warna hitam */
    border: none;
    transition: 0.3s ease;
}

.btn-dark:hover {
    background-color: #555; /* Warna abu saat hover */
}

/* Gaya gambar agar responsif */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Sudut gambar sedikit melengkung */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}

/* Membuat tampilan lebih rapih di ukuran layar kecil */
@media (max-width: 768px) {
    .headline {
        font-size: 1.5rem; /* Ukuran font lebih kecil di mobile */
    }

    .cream-box {
        padding: 30px 15px;
    }

    .btn-dark {
        width: 100%; /* Tombol penuh saat di layar kecil */
    }
}
/* Tombol Back */
.btn-back {
    display: inline-block;
    background-color: #362a25;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
    margin-bottom: 20px;
}

.btn-back:hover {
    background-color: #333;
    color: white;
}
